@font-face {
font-family:"Microsoft Yahei";
src: url('http://localhost/fonts/msyh.ttf');
}

html,body {
    height:99%;
    width:100%;
    padding-top: 30px;
    font-size:14px;
    font-family: "Microsoft YaHei";
}

.z-nav-container {
    background:whitesmoke;
    border:0 solid lightgray;
    border-radius:5px;
}

.z-nav-tree {
    margin-top: 5px;
    margin-bottom: 5px;
}

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 100%;
}

.gridStyle textarea {
    width:200px;
    height:50px;
}


.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus{
    color: #555555;
    background-color: #eee;
    cursor: default;
    border-radius:0;
}

.z-input {
  width: 20%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
          transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
